body{
	text-align: center;
}

#number {
	font: bold 60px Century Gothic;
}

input {
	width: 100px;
	height: 100px;
	font: bold 50px Century Gothic;
}

li>a.tappable-active {
    color: #fff;
    background-color: #4286f5;
}